In [1]:
# Question 1

import pandas as pd

seri = pd.Series([4, 8, 15, 16, 23,42])

print(seri)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
# Question 2

var = [2,5,4, "Aarush" , 5.25 , {"name":"Aarush"} , [4,5,6] , (7, 8,9) , 85.35, 45]

seri1 = pd.Series(var)

print(seri1)

0                     2
1                     5
2                     4
3                Aarush
4                  5.25
5    {'name': 'Aarush'}
6             [4, 5, 6]
7             (7, 8, 9)
8                 85.35
9                    45
dtype: object

In [14]:
# Question 3

data = {"Name" : ["Alice" , "Bob" , "claire"] , 
       "Age" : [25 , 30 , 27] , 
       "Gender" : ["Female" , "Male" , "Female"]}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

In [19]:
# Question 4

"A pandas dataframe is a 2 dimensional data structure like a 2 dimensional array or a table with rows and columns."

# Example - creating a simple dataframe

data1 = {"ID":[3,4,5,6] ,
       "Name" : ["Ayush" , "Karan" , "Shiv" , "Raj"]}

df1 = pd.DataFrame(data1)
print(df1)

"""Where Series is type of list in pandas that can take integer values, string values , double values and more . but in 
series we return an object in the form of list having an index from 0 to n where n is length of values in the series."""

# Example - 

data2 =  [4,5,"Aarush" , 45.36]


series = pd.Series(data2)

print(series)


"""As we can see series can only contain a single list with an index whereas Dataframe can be made of more than one series 
or we can say that a Dataframe is a collection of series that can be used to annalyize a data."""

   ID   Name
0   3  Ayush
1   4  Karan
2   5   Shiv
3   6    Raj
0         4
1         5
2    Aarush
3     45.36
dtype: object

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Question 5

"""Some common functions we can use to manipulate data are -

read_csv (or any other file format). - to read the file.

head (df.head()) -we can read data from the top row to n numbers or the rows we want to read from the top with this func.

tail (df.tail()) - same like head we can read data from the bottom to n number of rows.

columns (df.columns)- to show the column name present in the dataframe.

we can also give direct column name to show those specific column like df["column names"] if we want one or more column 
to show than it will be written like df[["column names"]]"""


# Example - to show this  example i am using a structured data in a csv file.

import pandas as pd 

df= pd.read_csv("services.csv")

c_d = df.columns

print (c_d)

In [ ]:
# question 6

Series is one dimensional array like structure with homogenous data . The value of the series are mutable means we can 
change any value in series but the size of the series is immutable so we can not change the size of the series. 

Dataframe is a two dimensional array with hetrogenous data . A Dataframe size is mutable and data is also mutable so 
we can change the data and size of Dataframe at any time.

Panel is a three dimensional data structure with heterogenous data . It is very hard to represent the panel in a 
graphical representation . But a panel can be illustrated as a container of a Dataframe . In panel data and size 
are mutable.

In [2]:
# Question 7

import pandas as pd 

# creating lists

Id = [1,2,3,4]
Name = ["Sunny" , "Amar" , "Aakash" , "Kabir"]
Fees = [3500 , 2750 , 3200 , 3500]

# Creating three series by passing lists
Id_series = pd.Series(Id)
Name_series = pd.Series(Name)
Fee_series = pd.Series(Fees)

# Creating a dictionary by passing series objects as values 

frame = {"Id" : Id_series , 
        "Name" : Name_series , 
        "Fees" : Fee_series}

# Creating Dataframe by passing dictionary

df = pd.DataFrame(frame)

# printing elements of dataframe

print(df)


As we can see in the above program I have passed multiple series to create a dataframe. Which is created successfully ,
like this we can create big dataframes also.

   Id    Name  Fees
0   1   Sunny  3500
1   2    Amar  2750
2   3  Aakash  3200
3   4   Kabir  3500